<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.apiTest.division.testCases.TC_002_Get_Single_Division_Record</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLineGetSingle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkCookiesGetSingle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodeGetSingle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkServerTypeGetSingle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimeGetSingle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypeGetSingle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentEncodingGetSingle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>jsonTestingUsingSchema</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getEmployee</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
