<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.checkContentEncodingGetSingle(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">checkContentEncodingGetSingle</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.checkContentTypeGetSingle(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">checkContentTypeGetSingle</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.checkCookiesGetSingle(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">checkCookiesGetSingle</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.checkResponseTimeGetSingle(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">checkResponseTimeGetSingle</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.checkServerTypeGetSingle(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">checkServerTypeGetSingle</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.checkStatusCodeGetSingle(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">checkStatusCodeGetSingle</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.checkStatusLineGetSingle(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">checkStatusLineGetSingle</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:05</td>   <td>-4408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_002_Get_Single_Division_Record.getEmployee()[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">&gt;&gt;getEmployee</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Division_Record.jsonTestingUsingSchema()[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">jsonTestingUsingSchema</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="bfc5a4">  <td>20/04/30 09:24:05</td>   <td>-4455</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DivisionTestBase.setup()[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="63f3bf">  <td>20/04/30 09:24:09</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_002_Get_Single_Division_Record.tearDown()[pri:0, instance:com.apiTest.division.testCases.TC_002_Get_Single_Division_Record@7b36aa0c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20224131</td>   <td></td> </tr>
</table>
