<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Division Rest API Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4bd7f">  <td>20/04/30 15:10:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_022_Delete_With_Not_Available_Company_Id.checkResponseTimeDelete(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_022_Delete_With_Not_Available_Company_Id@8909f18]">checkResponseTimeDelete</td> 
  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>20/04/30 15:10:59</td>   <td>3271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_023_Delete_With_Negative_Company_Id.checkResponseTimeDelete(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_023_Delete_With_Negative_Company_Id@79ca92b9]">checkResponseTimeDelete</td> 
  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="a4bd7f">  <td>20/04/30 15:10:56</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_022_Delete_With_Not_Available_Company_Id.checkStatusCodeDelete(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_022_Delete_With_Not_Available_Company_Id@8909f18]">checkStatusCodeDelete</td> 
  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>20/04/30 15:10:59</td>   <td>3277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_023_Delete_With_Negative_Company_Id.checkStatusCodeDelete(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_023_Delete_With_Negative_Company_Id@79ca92b9]">checkStatusCodeDelete</td> 
  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="a4bd7f">  <td>20/04/30 15:10:50</td>   <td>-5957</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_022_Delete_With_Not_Available_Company_Id.deleteEmployeeData(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_022_Delete_With_Not_Available_Company_Id@8909f18]">&gt;&gt;deleteEmployeeData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>20/04/30 15:10:56</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_023_Delete_With_Negative_Company_Id.deleteEmployeeData(java.lang.String)[pri:0, instance:com.apiTest.division.testCases.TC_023_Delete_With_Negative_Company_Id@79ca92b9]">&gt;&gt;deleteEmployeeData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="85cb86">  <td>20/04/30 15:10:50</td>   <td>-5997</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DivisionTestBase.setup()[pri:0, instance:com.apiTest.division.testCases.TC_022_Delete_With_Not_Available_Company_Id@8909f18]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="85cb86">  <td>20/04/30 15:10:56</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DivisionTestBase.setup()[pri:0, instance:com.apiTest.division.testCases.TC_023_Delete_With_Negative_Company_Id@79ca92b9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="a4bd7f">  <td>20/04/30 15:10:56</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_022_Delete_With_Not_Available_Company_Id.tearDown()[pri:0, instance:com.apiTest.division.testCases.TC_022_Delete_With_Not_Available_Company_Id@8909f18]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313916817</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>20/04/30 15:10:59</td>   <td>3281</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_023_Delete_With_Negative_Company_Id.tearDown()[pri:0, instance:com.apiTest.division.testCases.TC_023_Delete_With_Negative_Company_Id@79ca92b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313916817</td>   <td></td> </tr>
</table>
